:root {
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}
body {
    background-color: var(--Light_gray);
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:auto;
}
.main div {
    border-radius:5%;
    background-color: var(--White);
    padding: 2rem;
}
/* Mobile */
@media (max-width: 375px) {
    body{
        width: auto;
    }
    .main {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img{
        width: auto;
        border-radius: 5%;
    }
    .main div {
        border-radius:5%;
        background-color: var(--White);
        padding: 2rem;
    }
}
/* Desktop */
@media (max-width: 1440px) {
    body{
        width: auto;
    }
}